@import "tailwindcss";

@theme {
  --color-primary: #da251c;
  --font-poppins: Poppins, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6f6fc;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Bold"), url("./assets/fonts/Poppins-Bold.ttf");
}

:root {
  font-family: var(--font-poppins);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
